/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 설정 */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f7f8fa;
}

/* 스크롤바 설정 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 버튼 기본 스타일 (필요시 사용 가능) */
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 지갑 선택 모달창을 다른 요소 위에 띄우도록 설정 */
.wallet-adapter-modal-wrapper {
  z-index: 9999 !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

/* Wallet-adapter 모달 스타일 추가 */
@import "@solana/wallet-adapter-react-ui/styles.css";

